<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{template.html}">

<head>
    <title>Cadastro de compra</title>
</head>

<body>
    <div layout:fragment="content">
        <h1> Cadastrando uma compra.</h1>

        <form method="post" action="/compras">

            <input th:if="${compra != null}" type="hidden" name="_method" value="put">
            <input type="hidden" name="id" th:value="${compra?.id}">

            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição:</label>
                <input id="descricao" class="form-control" name="descricao" type="text" th:value="${compra?.descricao}">
            </div>
            <div class="mb-3">
                <label for="local" class="form-label">Local:</label>
                <input id="local" class="form-control" name="local" type="text" th:value="${compra?.local}">
            </div>
            <input class="btn btn-primary" type="submit" value="Salvar">
        </form>
    </div>
</body>

</html>