<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{template.html}">

<head>
    <title>Lista de compras</title>
</head>

<body>
    <div layout:fragment="content">
        <h1>Lista de compras</h1>
        <a class="btn btn-primary" href="/compras/formulario">Novo</a>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">DESCRIÇÃO</th>
                    <th scope="col">LOCAL</th>
                    <th scope="col">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="compra : ${lista}">
                    <td th:text="${compra.descricao}"></td>
                    <td th:text="${compra.local}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary"
                                th:href="@{/compras/formulario?id={id}(id=${compra.id})}">Editar</a>
                            <form action="/compras" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="id" th:value="${compra.id}">
                                <input class="btn btn-primary" type="submit" value="Excluir">
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</body>

</html>